/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**** BASE STYLES ****/

* {
    box-sizing: border-box;
}

a, p, li {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-weight: 2rem;
}

/**** NAVIGATION ****/

.head-wrapper {
    background-color: rgb(0, 40, 104);
    height: auto;
    padding: 1em;
}

.logo img {
    width: 30%;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    display: block;
}

.logo img:hover {
    width: 35%;
    -webkit-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
}

nav {
    margin: 0 auto;
    width: 100%;
}

.navigation {
    padding-inline-start: 0px;
}

.navigation li {
    list-style: none;
    text-align: center;
    padding: .5em;
    background-color: rgb(191, 10, 48);
    margin: 0 auto;
    margin-top: .5em;
    width: 75%;
    border-radius: .5em;
}

.navigation li a {
    width: 100%;
    text-decoration: none;
    color: rgb(0, 40, 104);
    font-size: 1.2em;
    display: inline-block;

}

.navigation li a:hover {
    color: white;
}

.navigation li:hover {
    border: 2px solid white;
}

/**** INTRO/TITLE ****/

.intro {
    padding: 1em;
    color: rgb(0, 40, 104);
    text-shadow: 1px 2px rgba(191, 10, 48, .8);
    text-align: center;
    background-color: rgba(191, 10, 48, .5);
    box-shadow: 0px 4px  2px rgba(0, 40, 104, .8);
}

.intro h1 {
    font-family: 'Allerta Stencil', sans-serif;
}

/**** MAP AND BLOG CARDS ****/

.list-group img {
    width: 4em;
}
.card-header {
   font-family: 'Muli', sans-serif;
    font-size: 2rem;
    color: rgb(0, 40, 104);
    text-align: center;
    text-shadow: 1px 2px rgba(191, 10, 48, .5);
}

.card {
    margin-top: 1em;
}

.card-body iframe {
    width: 100%;
    height: 15rem;
}


/**** SLIDESHOW ****/

/**** Essentials ****/

#slides {
    position: relative;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    margin-left: .4em;
    margin-top: .5em;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 95%;
    height: 10em;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slideshow-container {
  width: 95%;
  height: 28em;
  position: absolute;
  margin: 0 auto;
}

/*
non-essential styles
*/

.slide {
    font-size: 40px;
    padding: 1em;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    max-height: 8em;
}

.slide-img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.slide:nth-of-type(1) {
    background: rgb(191, 10, 48);
}
.slide:nth-of-type(2) {
    background: rgb(0, 40, 104);
}
.slide:nth-of-type(3) {
    background: rgb(191, 10, 48);
}

/**** CONTACT CARD ****/


/**** FOOTER ****/

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4em;
    background-color: rgb(0, 40, 104);
    color: white;
    height: 80px;
    padding-top: 2em;
    font-family: 'Muli', sans-serif;
}

footer img {
    width: 2em;
}

/**** ABOUT PAGE ****/

/**** TITLE AREA ****/

.about-page h2 {
  text-align: center;
  margin-top: 1em;
}

/**** CARDS ****/

.about-card {
  width: 100%;
}
.hide {
    display: none;
}

.name {
  text-align: center;
  margin-top: .5em;
}

.headshot {
  width: 60%;
}

.btn {
  padding: 1em;
  margin: 0 auto;
  margin-top: 1em;

}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/**** DESKTOP STYLES ****/

@media (min-width: 675px) {
  /**** NAVIGATION ****/


  /**** INTRO/TITLE ****/

   /**** CARDS ****/

  /**** SLIDESHOW ****/

  .slideshow-container {
    width: 90%;
    margin: 0 auto;
    max-heght: 1100px;
  }

  #slides {
    width: 100%;
    max-height: 900px;
  }

  .slide {
    width: 90%;
    margin-left: 1em;
    max-height: 450px;
    height: 20em;
  }

  .slide img {
    height: 9em;
  }

  /**** CONTACT ****/

  .contact-card {
    margin-top: 7em;
  }

}

/**** DESKTOP STYLES ****/
@media (min-width: 875px) {

    /**** NAVIGATION ****/

    .logo img {
        width: 10%;
        display: inline;
        float: left;
        margin-left: 1em;
    }

    .head-wrapper {
      height: 200pxs;
      max-height: 15em;
      overflow: hidden;
    }

    .navigation {
        float: right;
        margin: 0 auto;
        padding-top: 1em;
    }

    .navigation li {
        width: 75%;
        border-radius: .5em;
        display: inline;
    }

    .navigation li a {
        display: inline;
    }

    /**** INTRO/TITLE ****/

    .intro {
        padding: 1em;
        display: block;
        clear: both;
    }
     /**** CARDS ****/

    /**** SLIDESHOW ****/
    .slideshow-container {
      height: 50em;
      float: left;
    }

    #slides {
      width: 90%;
      height: 40em;
      margin-top: 1em;
    }

    .slide {
      width: 100%;
      max-height: 450px;
      height: 30em;
    }

    .slide img {
      height: 9em;
    }

    /**** FOOTER ****/

    footer {
      clear: both;
    }
}

/**** LARGE DESKTOP STYLES ****/

@media (min-width: 993px) {
  /**** NAVIGATION ****/

  .logo img:hover {
      width: 15%;
  }
  /**** SLIDESHOW ****/

  .slideshow-container {
    height: 28em;
    max-width: 400px;
    position: absolute;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 0 0 50%;
  }

  #slides {
    width: 90%;
    height: 30em;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 0;
  }

  .slide {
    width: 100%;
    max-height: 300px;
    margin-right: 1em;
    margin-left: 0;
  }

  .slide img {
    height: 5.7em;
  }

  /**** FOOTER ****/

  footer {
    clear: both;
  }
}

    @media only screen and (min-width: 35em) {
        /* Style adjustments for viewports that meet the condition */
    }

    @media print,
           (-webkit-min-device-pixel-ratio: 1.25),
           (min-resolution: 1.25dppx),
           (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
    }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
